#roomI{
    margin-left: 300px;
    width:200px;
    height:100px;

}
button{
    padding: 5px 5px;
    width:80px;
    height: 20px;
}
._M8cCug8H18ALQ05cNMt{
    width: 0;
}
.VNZilENM9Pb7KbRFOkYR{
    height: 0%;
}